<%= render "shared/navbar" %>
<div class="row">
	<div class="col-md-6">
		<h1>How we got started</h1><hr>
		<p>After being harassed for two long years, we took matters into our own hands and developed The Blue Potato.  We obtained evidence which brought the situation to an end and returned peace to our home.  Frustrated by crime and destruction of property, we wanted others to have options to easily protect their family and belongings.  The Blue Potato will easily empower you with today’s technology.</p>
	
		<p>It has the ability to easily expand with your needs.  It has a simple design that can be customized for you.  It is easily concealed and discrete or bold to help detour crime.  Get yours today!</p>
	</div>
	<div class="col-md-6">
		<h1>Product Offer</h1><hr>
		<p>The Digital Inspector offers a manufacturing solution to perform automatic inspection, providing simplified comprehensive identification of key characteristics for SPC.  The Digital Inspector TM will identify process drift prior to non-conforming conditions and automatically notify the point of contact via text, email and/or SAP.</p>
	</div>
</div>
