<%= render "shared/navbar" %>
<div class="row about-page">
	<div class="col-md-6">
		<h1>How we got started</h1><hr>
		<p>After being harassed for two long years, we took matters into our own hands and developed The Blue Potato.  We obtained evidence which brought the situation to an end and returned peace to our home.  Frustrated by crime and destruction of property, we wanted others to have options to easily protect their family and belongings.  The Blue Potato will easily empower you with today’s technology.</p>
	
		<p>It has the ability to easily expand with your needs.  It has a simple design that can be customized for you.  It is easily concealed and discrete or bold to help detour crime.  Get yours today!</p>

		<p>The Blue Potato is the premier source for cost-effective digital intelligence. Our team of experts can execute custom mission-specific builds and deployments and will work directly with you to create a solution to meet your needs.</p>
	</div>
	<div class="col-md-6">
		<h1>Meet the Team</h1><hr>
		<h2>Dan Davis</h2>
		<h4>Chief Engineer/Developer</h4>
		<p>Dan is the architect and developer of The Blue Potato products. Over 30 years of technical and leadership experience with a BS in Electrical and Electronics Engineering and a BS in Manufacturing Engineering. A Six Sigma Black Belt. Hardware and software savvy – knowledgeable in Python, Computer Vision, Java, Deep Learning, Robotics and C++.</p>

		<h2>Cindy Davis</h2>
		<h4>General Manager and Coder</h4>
		<p>Cindy provides the structure and discipline. More than 25 years of experience in growing business and establishing effective internal controls and processes with a BS in Mechanical Engineering and a Masters of Business Administration. A Six Sigma Green Belt. A Life Cycle Celebrant and Author. Knowledgeable in Python and C++.</p>
	</div>
</div>
