<%= render "shared/navbar" %>
<div class="container"><br>
<h3>If you would like to see how we could customize a solution for you contact us for more information.</h3>
</div>
<hr>

<div class="row contact-page">
	<div class="col-md-6">
		<h3>Address</h3>
			<p>Farmington, UT 84025</p>

		<h3>Email</h3>
			<p><a href="mailto:collinthedavis@gmail.com?subject=PortfolioContact" "email me">2016bluepotato@gmail.com</a></p>
	</div>

	<div class="col-md-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48189.4115633633!2d-111.94526854269044!3d40.985023175383176!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8752fee1d35aba5f%3A0xf80d7f9fc1798aae!2sFarmington%2C+UT!5e0!3m2!1sen!2sus!4v1498101725571" width="350" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>

</div>
