<%= render "shared/navbar" %>

<div class="site-wrapper home-page">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="inner cover">
        <h1 class="cover-heading">The Digital Detective&trade;</h1>
        <p class="lead">The Digital Detective&trade; and The Digital Inspector&trade; is an excellnet customizable security solution to protect your home, business, or anything else you need remotely monitored.</p>
        <hr class="my-4">
        <p>Finally, a security solution that you can control with no recurring costs!</p>
        <p class="lead">
          <%= link_to "Find Out More", pages_products_path, class: "btn btn-lg btn-secondary" %>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Digital Inspector&trade; 2017</p>
        </div>
      </div>

    </div>

  </div>

