<%= render "shared/navbar" %>
<div class="row">
	<div class="col-md-6">
			<h2 class="display-4">The Digital Detective&trade;</h2>
	</div>
	<div class="col-md-6">
			<h2 class="display-4">The Digital Inspector&trade;</h2>
	</div>
</div>